option_settings:
    aws:elasticbeanstalk:container:python:
        # application path
        WSGIPath: anonymous.wsgi:application
        NumProcesses: 2
        NumThreads: 15
packages:
    yum:
        # linux postgresql driver
        postgresql-devel: []
container_commands:
    00_wsgipass:
        # http login authorization
        command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
